@model FFC.Framework.Data.ReportSchedule

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReportSchedule</legend>

        @Html.HiddenFor(model => model.ReportScheduleId)

        <div class="editor-label">
            @Html.LabelFor(model => model.ReportId, "Report")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ReportId", "--- Select a Report ---")
            @Html.ValidationMessageFor(model => model.ReportId)
        </div>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.DeliveryTypeId, "Delivery Type")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DeliveryTypeId", "--- Select a Delivery Type ---")
            @Html.ValidationMessageFor(model => model.DeliveryTypeId)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.SchedulePeriod)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SchedulePeriod", "--- Select Schedule Period ---")
            @Html.ValidationMessageFor(model => model.SchedulePeriod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleDay)
        </div>
        <div class="editor-field">
            @Html.DropDownList("ScheduleDay", "--- Select Schedule Day ---")
            @Html.ValidationMessageFor(model => model.ScheduleDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScheduleTime)
            @Html.ValidationMessageFor(model => model.ScheduleTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ScheduleDescription)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ScheduleDescription)
            @Html.ValidationMessageFor(model => model.ScheduleDescription)
        </div>

        <div id="Email">
            
            <div class="editor-label">
            @Html.LabelFor(model => model.EmailTo)
        </div>
            <div class="editor-field">
            @Html.EditorFor(model => model.EmailTo)
            @Html.ValidationMessageFor(model => model.EmailTo)
        </div>

             <div class="editor-label">
            @Html.LabelFor(model => model.EmailComment)
            </div>
            <div class="editor-field">
            @Html.EditorFor(model => model.EmailComment)
            @Html.ValidationMessageFor(model => model.EmailComment)
        </div>

        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            //alert("Inside create");
        });

        $("#DeliveryTypeId").change(function () {
            var item = $(this);
            var selectedValue = item.val()

            //alert("Selected Item" + selectedValue)

            if (selectedValue == 1) {
                $("#Email").show();
            }
            else if (selectedValue == 2) {
                $("#Email").hide();
            }
        })
    </script>
}
