@model  FFC.Framework.ClientSubscription.Web.Models.ReportModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReportSchedule</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ReportId, "Report")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.ReportId,(IEnumerable<SelectListItem>)ViewBag.Reports, "---Select Report---")
            @Html.ValidationMessageFor(model => model.ReportId)
        </div>

        <p>
            <input type="submit" value="View" />
        </p>
    </fieldset>
}


<h3>Report Subscription Results </h3>
@if (Model != null && Model.ResultSchedules != null)
{
    Html.RenderPartial("_ReportResultPartial", Model.ResultSchedules);
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
