@model FFC.Framework.ClientSubscription.Web.Models.ForecastModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForecastModel</legend>
        <!-- Doctor -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastMethods, "Forecast Methods")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ForecastMethods", (IEnumerable<SelectListItem>)ViewBag.ForecastMethods, "--- Select a Forecast Method ---")
            @Html.ValidationMessageFor(model => model.ForecastMethods)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
