@model FFC.Framework.ClientSubscription.Web.Models.ForecastModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForecastModel</legend>
        <!-- Method -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.Method, "Methods")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ForecastSearchCriteria.Method.ForecastMethod, (IEnumerable<SelectListItem>)ViewBag.ForecastMethods, "--- Select a  Method ---")
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.Method)
        </div>

        <!-- Date Type -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.DataPeriod.DatePeriodID, "Date Type")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=> model.ForecastSearchCriteria.DataPeriod.DatePeriod, (IEnumerable<SelectListItem>)ViewBag.DateTypes, "--- Select a  DateType ---")
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.DataPeriod.DatePeriodID)
        </div>

        <p>
            <button type="submit" id="search">Search</button>
        </p>
    </fieldset>
}

<h1>Forecast Result </h1>
@if (Model != null && Model.ForecastResult != null)
{
    Html.RenderPartial("_ForecastResultPartial", Model.ForecastResult);
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            //alert("hi");
        });

        //var url = '@Url.Action("DisplaySearchResults", "Search")';
        //$('#search').click(function () {
        //    alert("Search Button clicked");


        //return false;
        //var keyWord = $('#Keyword').val();
        //$('#searchResults').load(url, { searchText: keyWord });
        //})

    </script>
}


