@model FFC.Framework.ClientSubscription.Web.Models.ForecastModel

@{
    ViewBag.Title = "Search Forecast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForecastModel</legend>

        <!-- Branch -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.BranchId, "Branch")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ForecastSearchCriteria.BranchId, (IEnumerable<SelectListItem>)ViewBag.Branches, "--- Select a Forecast Method Branch ---")
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.BranchId)
        </div>

        <!-- Product -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.ProductId, "Branch")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ForecastSearchCriteria.ProductId, (IEnumerable<SelectListItem>)ViewBag.Products, "--- Select a Forecast Product ---")
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.ProductId)
        </div>

        <!-- Method -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.Method, "Forecast Methods:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ForecastSearchCriteria.Method.ForecastIdentifier, (IEnumerable<SelectListItem>)ViewBag.ForecastMethods, "--- Select a Forecast Method ---")
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.Method)
        </div>

        <!-- Date Type -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.DatePeriod.DatePeriodID, "Date Type")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=> model.ForecastSearchCriteria.DatePeriod.DatePeriod, (IEnumerable<SelectListItem>)ViewBag.DateTypes, "--- Select a DateType ---")
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.DatePeriod.DatePeriodID)
        </div>

        <!-- Forecast Period -->
        <div class="editor-label">
            @Html.LabelFor(model => model.ForecastSearchCriteria.ForecastPeriod, "Forecast Period:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ForecastSearchCriteria.ForecastPeriod)
            @Html.ValidationMessageFor(model => model.ForecastSearchCriteria.ForecastPeriod)
        </div>

        <p>
            <button type="submit" id="search">Search</button>
        </p>
    </fieldset>
}

<h1>Test </h1>
@if (Model != null && Model.ForecastResult != null)
{
    Html.RenderPartial("_ForecastResultPartial", Model.ForecastResult);
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(document).ready(function () {
            //alert("hi");
        });

        //var url = '@Url.Action("DisplaySearchResults", "Search")';
        //$('#search').click(function () {
        //    alert("Search Button clicked");


        //return false;
        //var keyWord = $('#Keyword').val();
        //$('#searchResults').load(url, { searchText: keyWord });
        //})

    </script>
}


