@model FFC.Framework.ClientSubscription.Web.Models.ForecastFailoverModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ForecastModel</legend>
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table>
            <tr>
                <th>
                    @Html.DisplayName("Branch Name")
                </th>
                <th>
                    @Html.DisplayName("Current Balance")
                </th>
                <th>
                    @Html.DisplayName("ForecastedBalance")
                </th>
                @* <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>*@
                <th></th>
            </tr>
            @for (int i = 0; i < Model.BranchItemDataList.Count(); ++i)
                {
                 @Html.HiddenFor(m => Model.BranchItemDataList[i].Branch.BranchName)
                 @Html.HiddenFor(m => Model.BranchItemDataList[i].Branch.BranchID)
                <tr>
                    <td>
                        @Html.DisplayFor(m => Model.BranchItemDataList[i].Branch.BranchName)
                    </td>
                    <td>
                        @Html.EditorFor( m => Model.BranchItemDataList[i].Now)
                    </td>
                    <td>
                        @Html.EditorFor(m => Model.BranchItemDataList[i].Forecasted)
                    </td>
                    @*<td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>*@
                    <td>
                        @*@Html.ActionLink("Edit", "Edit", new { id=item.BranchID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BranchID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BranchID })*@
                    </td>
                </tr> 
            }
            
        </table>

        <p>
            <button type="submit" id="search">Forecast Failover</button>
        </p>
    </fieldset>
}

<h1>Forecast Failover Results </h1>
@if (Model != null && Model.ForecastFailoverResult != null)
{
    Html.RenderPartial("_ForecastFailoverResultPartial", Model.ForecastFailoverResult);
}


